<h1>Order</h1>

{{#if model.createdAt}}
  <div class="muted">
    created at: {{model.createdAt}}
  </div>
{{/if}}

{{type-ahead data=model submit='submitItem' name="colour" selection=myColour classNames="typeahead" placeholder="start typing product name"}}


<table class="table">
    <tr><th></th></tr>
    {{#each item in model.items}}
      <tr>
          {{render 'orders/item' item}}
      </tr>
    {{/each}}

</table>

<div>
{{#link-to 'orders' classNames="btn btn-default"}}back{{/link-to}}
</div>